@media (max-width:1199px){
    .banner_shap,.banner_shap_two {
        background-position: 72%;
    }
    .f_img_four{
        right: 0px;
    }
    .fact_img {
        margin-right: 0;
    }
    .error_text:after{
        background-size: contain;
        bottom: 20px;
    }
}
@media (max-width:991px){
    .react-parallax.banner_area{
        background-size: auto;
        min-height: 600px;
    }
    .react-parallax-bgimage{
        height: 100% !important;
        background-size: cover !important;
        left: 0 !important;
        transform: translate3d(0%, 0px, 0px) !important;
    }
    .navbar{
        padding: 0px 15px;
    }
    .navbar .login{
        margin-top: 0px;
        margin-left: auto;
        margin-right: 20px;
    }
    .navbar-toggler span {
        background: #fff !important;
    }
    .navbar_fixed .menu_two .navbar-toggler span,.menu_two.navbar .navbar-nav .nav-item .nav-link:before{
        background: #0db3c7;
    }
    .dark_menu .navbar-toggler span{
        background: #040c2c;
    }
    .navbar_fixed .navbar-toggler span,.navbar .navbar-nav .nav-item .nav-link:before{
        background: #040c2c;
    }
    .red_color .navbar_fixed .navbar-toggler span{
        background: #ff2a39;
    }
    .navbar .navbar-nav .nav-item{
        margin-left: 0px;
    }
    .navbar-nav{
        background: #fff;
        padding: 20px 20px 15px;
    }
    .navbar .navbar-nav .nav-item .nav-link{
        margin-left: .9rem;
        color: #040c2c !important;
        display: inline-block;
    }
    .banner_area_two .banner_content h2 {
        font-size: 58px;
    }
    .navbar .navbar-nav .nav-item + .nav-item{
        margin-top: 5px;
    }
}

@media (max-width:767px){
    .navbar-collapse{
        margin-left: -15px;
        margin-right: -15px;
    }
    .navbar-right{
        display: none;
    }
    .banner_content h5{
        margin-bottom: 10px;
    }
    .banner_content h4{
        letter-spacing: 0px;
        margin-bottom: 0px;
    }
    .banner_content{
        padding-top: 45px;
    }
    .navbar-collapse{
        max-height: 275px;
        overflow-y: scroll; 
    }
    .banner_area_two .banner_content h2 {
        font-size: 53px;
    }
    .navbar .logo_h img {
        max-width: 80%;
    }
    .navbar .login{
        padding: 3px 27px;
    }
    .navbar_fixed .navbar .navbar-toggler{
        height: 70px;
    }
    .navbar-light .navbar-toggler{
        transition: all 0.3s ease-in-out;
    }
    .react-parallax.banner_area {
        min-height: 500px;
    }
} 
@media (max-width:667px){
    .error_text:after{
        display: none;
    }
    .error_text{
        margin-top: 0;
    }
    .error_text h1{
        line-height: 240px;
        padding-left: 0;
    }
    .error_text img{
        top: -42px;
    }
    .back_btn{
        margin-bottom: 40px;
    }
}

@media(max-width:576px){
    .title_p br{
        display: none;
    
    }
    .title_h2{
        font-size: 27px;
        line-height: 40px;
    }
    .banner_content h2{
        font-size: 38px;
    }
    .error_text p br{
        display: none;
    }
    .error_text h1{
        font-size: 180px;
        line-height: 180px;
    }
    .error_text:before{
        background-size: contain;
    }
    .error_text img{
        top: 0;
    }
}
@media (max-width:450px){
    .navbar.navbar_fixed .login{
        display: none;
    }
    .error_text h1 {
        font-size: 140px;
        line-height: 135px;
    }
    .error_text img {
        top: 29px;
    }
}