@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home {
  width: 100vw;
  height: 100vh;
  background: var(--white);
  background-image: url(./svgviewer-output.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.container {
  height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > div {
    &:only-child {
      color: var(--white);
    }

    > h2 {
      font-size: 3.5rem;
      font-weight: bold;

      animation: fadeIn 500ms;
    }

    > h4 {
      font-size: 1.5rem;
    }

    > h5 {
      font-size: 1.25rem;
      font-weight: 400;
      letter-spacing: 1px;
    }
  }
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 2rem;

  > li {
    display: inline-block;
    margin: 0 5px;

    > a {
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.25);
      color: var(--white);
      font-size: 1rem;
      line-height: 2.5rem;
      text-align: center;
      text-decoration: none;
      transition: all 300ms ease;

      &:hover {
        background: var(--white);
        color: var(--text);
      }
    }
  }
}
