@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home {
  animation: fadeIn 500ms;
  background-image: url(../../assets/background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > div {
    &:only-child {
      color: var(--text);
    }

    > h2 {
      font-size: 3.5rem;
      font-weight: bold;

      animation: fadeIn 500ms;
    }

    > h4 {
      font-size: 1.5rem;
    }

    > h5 {
      font-size: 1.25rem;
      font-weight: 400;
      letter-spacing: 1px;
    }
  }
}
