.stack {
  // background-color: #cf0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}

.item {
  width: calc(100% / 5);
  margin: 0.5rem 0;
  // background-color: #fc0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  > svg {
    font-size: 2rem;
    color: var(--icon);
  }

  > span {
    margin-top: 0.5rem;
  }

  @media screen and (max-width: 1440px) {
    width: calc(100% / 4);
  }

  @media screen and (max-width: 386px) {
    width: calc(100% / 3);
  }
}
