/*---------------IMPORTS*----------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&family=Roboto&family=Ubuntu+Mono:ital,wght@0,700;1,400&display=swap');

:root {
  --primary-white: #fff;
}

body {
  font-family: "Roboto" sans-serif;
}

/*-----------------NAVBAR----------------*/
.navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

/*-------------NAVBAR LINKS-------------*/
nav a.nav-link {
  letter-spacing: 0.038rem;
  cursor: pointer;
  font-family: "Montserrat";
}

nav ul li {
  text-transform: uppercase;
  margin: auto 1rem;
}
/*
.navbar-nav > li > a {
  color: var(--primary-white) !important;
}*/

.navbar-brand {
  font-family: "Ubuntu Mono";
  font-weight: 700;
  font-size: 2.3rem !important;
  max-width: 17rem;
  padding: 0.5rem !important;
  height: 5rem;
}